* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: linear-gradient(90deg, rgb(255, 255, 255) 47.8%, rgb(217, 227, 239) 0%);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}


/*header*/
.header {
    padding-top: 42px;
}

.container {
    max-width: 1143px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

.header__wooman {
    position: absolute;
    background: url(./img/woman.png) no-repeat center center;
    margin-left: 209px;
    z-index: -1;
    width: 968px;
    max-width: 968px;
    height: 967px;
    background-size: cover;
}


.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__clothes {
    display: flex;
    align-items: center;
    gap: 65px;
    text-transform: uppercase;
}

/*Burger*/
label{
    display:none ;
}

#burger-toggle {
    display: none;
}

/*Burger*/
.header__logo {
    padding: 10px 25px;
    border: 2px solid #000;
}

.nav__images-vector {
    display: flex;
    gap: 20px;
}

/*header*/


/*hero*/
.main {
    display: flex;
    margin-top: 250px;
}

.hero {
    max-width: 529px;
}

.hero_title {
    font-size: 60px;
    max-width: 529px;
    font-weight: 700;
    color: #373737;

}

.hero__button {}

.hero__way {
    display: inline-block;
    margin-top: 60px;
    color: #FFFFFF;
    padding: 23px 55px;
    background-color: #373737;
    letter-spacing: 12%;
    text-transform: uppercase;
}

.hero__image {
    position: absolute;
    top: 0;
}

/*hero*/

/*media*/
@media screen and (max-width:1231px) {
    .header__wooman {
        background: url(./img/woman.png) no-repeat 250px;
        right: 0;

    }
}

@media screen and (max-width:879px) {
    body {
        background: linear-gradient(90deg, rgb(255, 255, 255) 47.8%, rgb(217, 227, 239) 100%);
    }

    .header__wooman {
        opacity: 0.6;

    }

    .header__clothes {
        gap: 45px;
    }
}

@media screen and (max-width:635px) {
    .container{
         padding: 0 50px;
    }
    label {
        position: relative;
        display: block;
        height: 25px;
        width: 30px;
        cursor: pointer;
    }

    label::after,
    label::before,
    label span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
        transition: .3s;
        z-index: 999;
    }

    label::after {
        content: "";
        top: 0;
    }

    label::before {
        content: "";
        bottom: 0;
    }

    label span {
        top: 11px;
    }

    #burger-toggle:checked~label::after {
        transform: rotate(45deg);
        top: 10px;
    }

    #burger-toggle:checked~label::before {
        transform: rotate(-45deg);
        bottom: 12px;
    }

    #burger-toggle:checked~label span {
        transform: scale(0);
        opacity: 0;
    }
  /* .header__clothes {
        position: fixed;
        left: 0;
        background-color: gray;
        padding-top: 100px;
        z-index: -1;
        flex-direction: column;
        text-align: center;
        top: -100vh;
        bottom: 100vh;
    } */
     .header__logo{
        display: block;
    }
      .header__clothes {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 40vh;
        background-color: #F5F6FA;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: right 0.3s ease;
        z-index: 100;
    }
     #burger-toggle:checked~.header__clothes {
        left: 0;
    }
}

/*media*/